src/main/mule/jwt.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="35273249-add5-431f-b807-88fdbaaca4f5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<api-gateway:autodiscovery apiId="20604156" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="43dc4282-6099-4784-8a71-ea12aa3b7388" flowRef="jwtFlow" />
	<flow name="jwtFlow" doc:id="fee5cea6-9d04-4d3b-b812-ec771f0d9696" >
		<http:listener doc:name="Listener" doc:id="a6562227-3d1c-485c-a8fd-337c6a2d0faa" path="/jwt" config-ref="HTTP_Listener_config"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="89fe2d44-7ebe-49a3-b1a6-fe406c55f18f" />
		<ee:transform doc:name="Transform Message" doc:id="3442d377-6d9e-4719-a115-a30c08e21913" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9a7bbe4b-37cd-4c71-80e1-cff36d439db1" message="#[payload]"/>
	</flow>
</mule>
